<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
	
<head>
<meta charset="utf-8" />
<title>Rectangle info</title>
<link href="file:///C/JavaProj/shopping-list/src/main/webapp/WEB-INF/templates/newshoppinglist.css" rel="stylesheet" type="text/css"></link>
</head>
<body>

	<!--     
<a href="http://localhost:8080/shopping-list/shoppingList" title="title" target="_self">shoppingList</a>
	<p />
 -->
	<a href="/shopping-list/shoppingList" title="підказка" target="_self">shoppingList</a>
	//!!!!!!!!!!!!!!!!!!!
	<p />



	Rectangle height:
	<span th:text="${newrectangleWidth}"></span>
	<p />

	sortableObject1:
	<span th:text="${sortableObject1}"></span>
	<p />
	sortableObject2:
	<span th:text="${sortableObject2}"></span>
	<p />
	sortableObject3:
	<span th:text="${sortableObject2}"></span>
	<p />



	<div th:unless="${#lists.isEmpty(assashoppingItems1)}">

		<div th:each="item : ${assashoppingItems1}">
			1 Is good!!! <span th:text="${item}"></span>
		</div>
	</div>


	<div th:unless="${#lists.isEmpty(assashoppingItems2)}">

		<div th:each="item : ${assashoppingItems2}">
			2 Is good!!! <span th:text="${item}"></span>
		</div>
	</div>


	<div th:unless="${#lists.isEmpty(assashoppingItems3)}">

		<div th:each="item : ${assashoppingItems3}">
			3 Is good!!! ++++ <span th:text="${item}"></span>
		</div>
	</div>

	<table border="1" cellpadding="5" cellspacing="1">
		<td><span>ID</span></td>
		<td><span>VALUE</span></td>

		<div th:unless="${#lists.isEmpty(assashoppingItems4)}">
			<div th:each="item : ${assashoppingItems4}">
				<tr>
  					<td><span th:text="${item.id}"></span></td>
					<td><span th:text="${item.value}"></span></td>			
				</tr>
			</div>
		</div>
	</table>

	<hr/>
<!-- read at thymeleaf site how to iterate over collection -->

</body>
</html>
