<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/> 
        <title>Rectangle info</title>
    </head>
<body>
    Rectangle height: <span th:text="${rectangleHeight}"></span>
    <p/>
    Rectangle width: <span th:text="${rectangleWidth}"></span>
    <p/>
    Rectangle area: <span th:text="${rectangleArea}"></span>
    <p/>
    Rectangle diagonal: <span th:text="${rectangleDiagonal}"></span>
    <p/>
</body>
</html>
